<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <!-- Allow all major Microsoft and System packages -->
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="Swashbuckle.*" />
      <package pattern="coverlet.*" />
      <package pattern="xunit.*" />
      <package pattern="Moq" />
      <package pattern="AutoMapper" />
      <package pattern="*" />
    </packageSource>

    <packageSource key="Microsoft Visual Studio Offline Packages">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
